<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message =>{ %>
    <div class="message">
      <p><strong>User:</strong> <%= message.user %></p>
      <p><strong>Message:</strong> <%= message.text %></p>
      <p><strong>Date Added:</strong> <%= message.added.toDateString() %></p>
    </div>
    <br />
    <% }); %>
  </body>
</html>
